*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: monospace;
    background-color: #081C25;
    padding: 100px;
    margin: auto;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-x: hidden;
    
}

.container{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(2, 2, 2, 0.19);
    padding: 80px;
    padding-top: 3%;
    
    
   
}




 form{
    display: grid;
    background-color: #F7D101;
    z-index: 10;
    width: 100%;
    justify-content: center;
    grid-template-columns: 40% 40%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    row-gap: 30px;
    
    }

input:active{
    transform: translateY(2px);
}
form label{
    display: block;
    font-size: 1.2em;
}


 button{
    background:none;
    border: none;
    color: #ffffff;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
	width: 60%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 30px;
  	border: 0;
	background: #1E3B4B;
    border-radius: 3px;
    box-shadow: 0 12px 16px 0 rgba(73, 72, 72, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
}

input{
    background:none;
    border: none;
    color: #000000;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
	width: 65%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 30px;
  	border: 0;
	background: #F3F3F3;
    border-radius: 3px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
    
    
}
select{
    background:none;
    border: none;
    color: #000000;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
	width: 65%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 30px;
  	border: 0;
	background: #F3F3F3;
    border-radius: 3px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
    
}


.text{

    color:#464369;

}

table {
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;    
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
   
}


 th{
    
   padding: 1%;
   background-color: #464369;
   border-bottom: 2px solid white;
   text-shadow: 1px 1px 1px black;
   font-size: 15px;
   
   
}
td:hover{
    background-color: #464369;

}
 td{
    border-bottom: 2px solid white;
    padding: 0.5%;
    background-color: #8988a6;
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
    
}

td {
    user-select: none;
  }
  td::selection {
    background: none;
  }
  td::-moz-selection {
    background: none;
  }

  th {
    user-select: none;
  }
  th::selection {
    background: none;
  }
  th::-moz-selection {
    background: none;
  }




tbody:hover{

    background-color: #464369;
}
.TT{
    
    text-align: center;
    font: 500 2em/1 monospace;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

    background: url('/static/img/Patron.png') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;



    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;


    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.mensaje{

    display: block;
    margin-top: 5px;
    
    
    
}

.mensaje-eu{

    display: block;
    padding: 10px;
    margin-top: -30px;
    background-color:  rgb(0, 0, 0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    z-index: 1;
    width: 100%;
    text-align: center;
    animation: abajo 0.8s ease-in-out forwards;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
    

}

@keyframes abajo {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px); 
    }
}





a{
    text-decoration: none;
    color: #ffffff;
}
a:visited{
    color: #ffffff;
}
a:hover{

    background-color: #bfbef9;

}
.text{

    font: 500 2em/1 monospace;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

    background: url('/static/img/Patron.png') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;



    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;


    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}
@keyframes abajo {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px); 
    }
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.container .btn button{
    background-color: #ffffff;
    width: 150px;
    height: 30px;
    right: 0;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(114, 114, 114, 0.19);
    border-radius: 3px;
    color: #000000;

}



.btn button:hover{

    
transform: scale(1.2);

}
