<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/Flecha.png') }}" type="image/x-icon">
    
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Genero</th>
            <th>Precio</th>
            <th>Duración </th>
            <th>Fecha</th>
            <th>Portada</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
            {% for cancion in canciones %}
            <tr>
                <td>{{cancion.ID_Cancion}}</td>
                <td>{{cancion.Titulo}}</td>
                <td>{{cancion.Artista}}</td>
                <td>{{cancion.Genero}}</td>
                <td>{{cancion.Precio}}</td>
                <td>{{cancion.Duracion}}</td>
                <td>{{cancion.A_Lanzamiento}}</td>
                <td><img  src="data:image/jpeg;base64,{{cancion.img}}" alt="Portada de {{cancion[1]}}" style="width: 100px;"></td>
                <td>
                    <a href="{{ url_for('delete_song', id=cancion.ID_Cancion) }}">Eliminar</a>
                    <a href="{{ url_for ('update_song', id=cancion.ID_Cancion) }}">Editar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
    
</body>
</html>