<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/Flecha.png') }}" type="image/x-icon">


</head>
<body>
    <div class="container">
        <div class="text"><h1>UPDATE</h1></div>
    
        <form  method ='POST' action="">
            <div class="datos">
                <label for="name">Codigo</label>
                <input type="text" id="id" name="idper" value="{{ usuario [0] }}"  disabled/>
            </div>
            
            <div class="datos">
                <label for="name">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ usuario [1] }}" />
            </div>
            <div class="datos">
            <label for="apellido">Apellido:</label>
            <input type="apellido" id="apellido" name="apellido" value="{{ usuario [2] }}"  /> 
            </div>
            <div class="datos">
                <label for="email">Correo:</label>
                <input type="email" id="email" name="email" value="{{ usuario [3] }}"  />  
                </div>
            <div class="datos">
                <label for="name">Dirección:</label>
                <input type="text" id="name" name="direccion" value="{{ usuario [4] }}" /> 
                </div>
            <div class="datos">
            <label for="celular">Celular:</label>
            <input type="tel" id="tel" name="telefono" value="{{ usuario [5] }}"  />  
            </div>
            
            <div class="datos">
            <label for="usuario">Usuario:</label>
            <input type="text" id="Usuario" name="usuario" value="{{ usuario [6] }}"  />  
            </div>
            <div class="datos">
            <label for="name">Contraseña:</label>
            <input type="password" id="contraseña" name="contra" value="{{ usuario [7] }}"  />   
            </div>
            
            <button type="submit">Actualizar</button>
        </form>
      
    </div>
</html>