<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/Disco.png') }}" type="image/x-icon">



</head>
<body>
    <div class="container">
        <div class="text"><h1>LOG IN</h1></div>
    
        <form action="/login" method="POST">
            
            <div class="datos">
            <label for="usuario">Usuario:</label>
            <input type="text" id="Usuario" name="Usuariol"   />  
            </div>
            <div class="datos">
            <label for="name">Contraseña:</label>
            <input type="password" id="contraseña" name="Contral"  />   
            </div>
            
            <button type="submit">Iniciar sesión</button>
        </form>
      
    </div>
</html>