<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/sign in.png') }}" type="image/x-icon">

</head>
<body>
    <div class="container">
        <div class="text"><h1>SIGN IN</h1></div>

        
    
        <form  method ='POST' action="/registrar">
            
            <div class="datos">
                <label for="name">Nombre:</label>
                <input type="text" id="nombre" name="p_Nombre" />
            </div>
            <div class="datos">
            <label for="apellido">Apellido:</label>
            <input type="apellido" id="apellido" name="p_Apellido" /> 
            </div>
            <div class="datos">
                <label for="email">Correo:</label>
                <input type="email" id="email" name="p_Email"  required/>  
            {% for message in get_flashed_messages(category_filter=["me"])%}
            <span class="mensaje">{{ message }}</span>
            {% endfor %} 
                </div>
            <div class="datos">
                <label for="name">Dirección:</label>
                <input type="text" id="name" name="p_Direccion" /> 
                </div>
            <div class="datos">
            <label for="celular">Celular:</label>
            <input type="tel" id="tel" name="p_Telefono" />  
            </div>
            
            
            <div class="datos">
            <label for="usuario">Usuario:</label>
            <input type="text" id="Usuario" name="p_Usuario" value="" required /> 
            {% for message in get_flashed_messages(category_filter=["mu"]) %}
            <span class="mensaje">{{ message }}</span>
            {% endfor %} 
            </div>
            <div class="datos">
            <label for="name">Contraseña:</label>
            <input type="password" id="contraseña" name="p_Contrasena" required/>   
            </div>
            
            <button type="submit">Registrar</button>
            
        </form>
        {% for message in get_flashed_messages(category_filter=["mensaje"]) %}
            <span class="mensaje-eu">{{ message }}</span>
            {% endfor %} 
      
    </div>
</html>